.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  
  .sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
    background-color: var(--bg-panel);
    border-right: 1px solid var(--border-color);
    padding: 24px;
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8b5cf6; 
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }
  
  .navItem {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 8px;
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
  }
  
  .navItem:hover {
    background-color: rgba(255,255,255, 0.05);
    color: white;
  }
  
  .active {
    background-color: var(--accent-blue);
    color: white;
  }
  
  .iconDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid currentColor;
  }
  
  .footerProfile {
    margin-top: auto;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 1px solid #333;
  }
  
  .header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--bg-panel);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  
  .searchWrapper {
    position: relative;
    width: 300px;
  }
  
  .searchInput {
    width: 100%;
    background-color: var(--bg-input);
    border: none;
    padding: 12px 16px 12px 45px;
    border-radius: 12px;
    color: white;
    outline: none;
  }
  
  .searchIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-secondary);
    width: 18px;
  }
  
  .userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .avatarImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--bg-app);
    padding: 30px;
    overflow-y: auto; 
  }
  
  .contentCard {
    background-color: var(--bg-card);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

    .tableContainer {
      width: 100%; 
      overflow-x: auto;
      margin-bottom: 20px; 
      border: 1px solid #ddd; 
      border-radius: 8px; 
    }
    
    .myTable {
      width: 100%; 
      border-collapse: collapse; 
      font-family: sans-serif;
    }
    
    .myTable th, .myTable td {
      padding: 12px 15px;
      border: 1px solid #230f99;
      text-align: left;
    }
    
    .myTable th {
      background-color: #230f99;
      font-weight: bold;
    }
    
    .myTable tbody tr:nth-child(even) {
      background-color: #230f99;
    }
    
    .myTable tbody tr:hover {
      background-color: #230f99;
    }

    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black; 
      cursor: pointer;
    }
    
    
    .tooltiptext {
      visibility: hidden; 
      width: 130px;
      background-color: black;
      color: #ffffff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1; 
      width: 130px;
      bottom: 100%;
      left: 65%;
      margin-left: -65px;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }